:root {
  --error: #f44c575d;
  --success: #6ef44c8c;

  // gray
  // greyscale
  --white: #fff;
  --grey-050: #f5f8fa; // focus color
  --grey-100: #e1e8ed;
  --grey-200: #ced4da;
  --grey-300: #bbc0c7; // focus color
  --grey-400: #a8acb4;
  --grey-500: #9497a1; // focus color
  --grey-600: #6d6e7b;
  --grey-700: #5a5a68;
  --grey-750: #646555;
  --grey-800: #464555; // focus color
  --grey-900: #34343c; // focus color
  --black: #272729;

  // blue
  --blue-500: #0061ff;
}
