@import './variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100% !important;
  background: var(--black);
  font-family: 'Roboto', sans-serif;
}

#root, .App{
  height: 100% !important;
}
