.container {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  .menus {
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .name {
      display: flex;
      flex-direction: column;
      text-align: start;
      color: var(--white);

      .first {
        font-family: 'Bungee Shade', cursive;
        font-size: 5rem;
        line-height: 4rem;
      }
      .second {
        font-family: 'Major Mono Display', monospace;
        font-size: 6rem;
        text-transform: lowercase;
      }
    }
    .contact {
      .social {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5rem;

        & > a {
          color: var(--grey-800);
          margin: 0 1rem;
          text-decoration: none;

          &:hover {
            transition: all 0.5s;
            color: var(--grey-050);
          }
        }
      }
      .dev {
        font-family: 'Montserrat Subrayada', sans-serif;
        color: var(--white);
        font-size: 3rem;
      }
    }
  }
  .content {
    max-width: 70%;
    flex-wrap: wrap;
  }
}
