.container {
  display: flex;
  justify-content: space-between;
  overflow-x: hidden;
  .menus {
    height: calc(100vh - 1rem);
    display: flex;
    flex-direction: column;

    .name {
      display: flex;
      text-align: start;
      color: var(--white);
      font-size: 1.5rem;

      .first {
        margin-right: 10px;
      }
    }
    .contact {
      .social {
        font-family: 'Roboto', sans-serif;
        font-size: 1rem;

        & > a {
          color: var(--grey-800);
          margin: 0 0.5rem;
          text-decoration: none;

          &:hover {
            transition: all 0.5s;
            color: var(--grey-050);
          }
        }
      }
      .dev {
        color: var(--white);
        font-size: 1.5rem;
      }
    }
  }
  .content {
    max-width: 70%;
    flex-wrap: wrap;
  }
}
