.container {
  margin-top:15px;
  .row{
    display:flex;
    justify-content: center;
    height:100px;
    position: relative;
    border-top: 1px solid var(--grey-200);

    &:first-child{
      border-top: 0px solid var(--grey-200) !important;
    }

    .content{
      height: 100px;
      margin-left: 5px;
      margin-right: 5px;
      
      .position{
        .user{
          width: 150px;
          height: 50px;
          background: var(--grey-200);
          color: var(--black);
          font-weight: bold;
          display: flex;
          justify-content: center;
          border-radius: 6px;
          align-items: center;
          margin: 0 auto;

          &:hover{
            .infos{
              width: 150px;
              height: 50px;
              display: flex;
              flex-direction: column;
              padding: 5px;
              border-radius: 3px;
              background: var(--white);
              border: 1px solid var(--grey-300);
              position: absolute;
              font-size: 10px;
              font-weight: 300;
              cursor: pointer;
            }
          }
          .infos{
            display: none;
          }
        }
      }
      .position::after{
        content: "";
        width: 2px;
        height: 25px;
        background: var(--grey-200);
        display: flex;
        margin: 0 auto;
      }
    }

    .lv0::after{
      content: "";
      width: 2px;
      height: 25px;
      background: var(--grey-200);
      display: flex;
      margin: 0 auto;
    }
    .lv1::before{
      content: "";
      width: 2px;
      height: 25px;
      background: var(--grey-200);
      display: flex;
      margin: 0 auto;
    }

    .lv2::before{
      content: "";
      width: 2px;
      height: 25px;
      background: var(--grey-200);
      display: flex;
      margin: 0 auto;
    }
  }
}